.blog{
    width: 100%;
    padding: 100px 0;
    background-color: #1d293e;
}
.blog-inner{
    width: 100%;
    text-align: center;
}
.blog-inner h2{
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 600;
    position: relative;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 40px;
    line-height: 36px;
    color: #fff;
}
.blog-inner p{
    text-transform: none;
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 26px;
}
.blog-inner span{
    color: #7564e5;
}
.blog-items{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.blog-member{
    margin-top: 60px;
    width: 30%;
    box-shadow: 0px 5px 30px 0px #1d293e;
    border: 1px solid #384967;
    overflow: hidden;
    transition: .3s ease-in-out;
}
.blog-member:hover{
    transition: .3s ease-in-out;
    transform: translateY(-20px);
}
.blog-img img:hover{
    transform: scale(1.1);
    transition: .5s;
}

.blog-img{
    width: 100%;
    cursor: pointer;
    overflow: hidden;
}
.blog-img img{
    width: 100%;
    transition: .5s;
}
.blog-details{
    padding: 30px 25px;
    text-align: left;
}
.blog-details a{
    margin: 0 0 15px 0px;
    color: #fff;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 22px;
    text-decoration: none;
}
.blog-details ul{
    color: #7564e5;
}
.blog-details ul li{
    display: inline-block;
    font-size: 15px;
    margin-right: 10px;
    text-transform: capitalize;
}
.blog-details h3{
    margin: 0 0 15px 0px;
    color: #fff;
}
.blog-details p{
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    margin: 10px 0 10px;
    font-size: 15px;
    letter-spacing: 0;
}
.blog-info a{
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    transition: .3s;
}
.blog-info a:hover{
    color: #7564e5;
    transition: .3s;
}
.blog-details .icons{
    position: absolute;
    top:-30px;
    border-radius: 50%;
    overflow: hidden;
}
.icons img{
    border-radius: 50%;
    width: 44px;
    height: 44px;
}
.blog-details{
    position: relative;
}