.info{
    width: 100%;
    background-color: transparent;
    background-image: url('../../images/bg.jpg');
    background-repeat: no-repeat;
    background-position: 0% 0px;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    z-index: 0;
    padding: 200px 0 140px; 
}
.info::after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    opacity: .9;
    z-index: -1;
    background: rgba(7, 1, 90, 0.644) !important;
}
.info-inner{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.info-details{
    width: 70%;
    padding-bottom: 60px;
}
.info-details h1{
    color: #fff;
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 20px;
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all ease .4s;
}

.info-details h2{
    transition: all ease .4s;
    color: #fff;
    font-size: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 6px;
}
.info-details p{
    transition: all ease .4s;
    color: #fff;
    text-transform: capitalize;
    margin: 0px 0px 50px;
    font-size: 15px;
    letter-spacing: 0;
    font-weight: 400;
    line-height: 1.5;
}
.info-links{
    display: flex;
    justify-content: center;
    align-items: center;
}
.info-links .link-1{
    background: #7564e5;
    border: 1px solid #7564e5;
    border-radius: 30px;
    color: #fff;
    padding: 15px 30px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    margin-top: 10px;
    margin-left: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 20px;
    transition: .3s;
}
.info-links .link-2{
    background: transparent;
    border: 1px solid #fff;
    border-radius: 30px;
    color: #fff;
    padding: 15px 30px;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    margin-top: 10px;
    margin-left: 15px;
    letter-spacing: 1px;
    margin-bottom: 20px;
    transition: .3s;
}
.info-links .link-1:hover{
    background: transparent;
    border: 1px solid #fff;
    transition: .3s;
}
.info-links .link-2:hover{
    background: #7564e5;
    border: 1px solid #7564e5;
    transition: .3s;
}
.info-details span{
    color: #7564e5;
}
